.block{
    border: 1px solid red;
    width : 100px;
    height: 50px;
    margin: 0 auto;
}

.inline{
    border: 1px solid red;

    width : 100px;
    height: 50px;

    /* 좌우만 되고 위 아래 안됨 */
    margin : 0 50px;

    /* 좌우만 되고 위 아래 안됨 단, border는 밀어짐*/
    padding: 30px;
}

.bg_blue{
    background-color: blue;
    color: white;
}

.parent{
    border : 1px dotted rgb(255, 0, 255);
    /* width : 400px; */
    width : 100%;
}

.parent > div { /* 바로직계만 됨 */
    border : 1px dashed blue;
    height : 75px;
    width : 200px;
    box-sizing: border-box;

    display: inline-block;

    vertical-align: top /* bottom, middle(inline, inline-block만 적용됨) */;
}

.hide{
    display: none;
}

.table{
    display:table;
}


/* table-cell은 테이블만 적용된다. */
.table .td{
    border : 1px solid red;
    display : table-cell;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.fake_div{
    display : inline;
    border : 1px solid red;
}